
.sidebar{
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color:floralwhite;
  height: 100%;
/*  padding: 20px;*/
  align-self: flex-start;
}

.itemSideBar{
  margin-top: 20px;
  margin-left: 20px;
}

.welcome{
  font-style: italic;
  font-size: 1.1em;
}

.activeLink{

}

.inactiveLink{
  color: darkgrey;
}

.link{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}