
.sidebar{
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color:floralwhite;
  height: 100%;
/*  padding: 20px;*/
}
.activeLink{
  margin-top: 20px;
  margin-left: 20px;
}

.inactiveLink{
  color: darkgrey;
  margin-top: 20px;
}