@import '../../../variables';

.sidebar{
  display: flex;
  flex-direction: column;
  background-color:floralwhite;
  height: 100vh;
  align-self: flex-start;
  flex: 0 0 20%;
  // flex-basis: 140px;
  // width: 150px;
}

.itemSideBar{
  margin-top: 20px;
  margin-left: 20px;
}

.welcome{
  font-style: italic;
  font-size: $fontSizeMain + 4;
}

.inactiveLink{
  color: darkgrey;
}

.link{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}