.participantsPage{
  background-color: azure;
  flex-basis: 80%;  
  height: 100vh;
}
.participantsPage .sorter:hover{
  cursor: pointer;
  text-decoration: underline;
}

.participantsPage tbody tr:hover {
  cursor: pointer;
  color: blue;
}

.paginator{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

.paginator span {
  color:blue;
  cursor: pointer;
}

.paginator .active {
  color: gray;
  font-weight: bold;
  cursor: default;
}

.paginator span:hover{
  font-weight: bold;
}

.filter{
  font-size: 10px;
  font-weight: normal;
  color: blue;
  width: 100px;
}

.filter span:hover{
  text-decoration: underline;
  cursor: pointer;
}

.sett{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 300px;
  column-gap: 10px;
  margin: 20px auto 10px;
}

.sett button{
  font-size: 12px;
  color: red;
  cursor: pointer;
  width: 50px;
  border: gainsboro 1px solid;
  border-radius: 5px;
}

.settTitle{
  font-weight: bold;
}

.settValue{
  color:rgb(56, 56, 56);
  font-style: italic;
  font-size: 12px;
}

.spinner{
  width: 150px;
  margin: 0 auto;
  display: block;
}

.hidden{
  width: 150px;
  margin: 0 auto;
  display: block;
  visibility: hidden;
}