@import '../../../variables';

.participantsPage{
  background-color: $bgColor;
  flex-basis: 80%;  
  height: 100vh;

  .sorter{
    &:hover{
    cursor: pointer;
    text-decoration: underline;
    }
  }

  tbody {
    tr{
      &:hover {
        cursor: pointer;
        color: blue;
       }
    }
  }
}

.titleTable {
  font-size: $fontSizeMain + 6;
  padding: 10px;
  font-weight: bold;
  width: 200px;
  margin: 0 auto;
}

.paginator{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

.paginator {
  span {
    color:blue;
    cursor: pointer;
    &:hover{
      font-weight: bold;
    }
  }
}

.paginator {
  .active {
    color: gray;
    font-weight: bold;
    cursor: default;
  }
}

.filter{
  font-size: $fontSizeMain - 4;
  font-weight: normal;
  color: blue;
  width: 100px;
  margin: 0 auto;
  span{
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.sett{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 300px;
  column-gap: 10px;
  margin: 20px auto 0;
}

.sett {  
  button{
  font-size: $fontSizeMain - 2;
  color: red;
  cursor: pointer;
  width: 50px;
  border: gainsboro 1px solid;
  border-radius: 5px;
  }
}

.settTitle{
  font-weight: bold;
}

.settValue{
  color:rgb(56, 56, 56);
  font-style: italic;
  font-size: $fontSizeMain - 2;
}

.spinner{
  width: 150px;
  margin: 0 auto;
  display: block;
}

.hidden{
  width: 150px;
  margin: 0 auto;
  display: block;
  visibility: hidden;
}