@import '../../../variables';

.adminLoginForm{
  background-color: $bgColor;
  padding: 20px;
  width: 250px;

  .titleForm{
    font-size: $fontSizeMain + 2;
    text-align: center;
    margin-bottom: 20px;
  }
    
  .label{
    margin-top: 10px;
  }
    
  .field{
    width: 93%;
  }  
  
  .buttonAdmForm{
    margin-top: 10px;
    width: 100px;
    margin-left: 150px;
  }

  .spinner{
    margin-left: 160px;
  }
  
  .authError{
    color: red;
  }

}
