@import '../../../variables';

.adminLoginForm{
  background-color: $bgColor;
  padding: 20px;
  width: 250px;
}

.titleForm{
  font-size: $fontSizeMain + 2;
  text-align: center;
  margin-bottom: 20px;
}

.adminLoginForm{ 
  .label{
    margin-top: 10px;
  }
}

.adminLoginForm{
  .field{
    width: 93%;
  }
}

.buttonAdmForm{
  margin-top: 10px;
  width: 100px;
  margin-left: 150px;
}

.authError{
  color: red;
}

